## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# data = {'國家': ,
#         '人口': }
# data = pd.DataFrame()

In [40]:
def convert_number_to_alphabet(number):
    """
    Returns:
        A string of 2 letters determined from `number` in a mysterious way.
    """
    letter1 = chr(ord('A') + (number // 26) % 26)
    letter2 = chr(ord('A') + number % 26)
    return letter1 + letter2

def distinct_random_int(low, high, size):
    """
    Returns:
        An array of distinct random integers within [low, high).
    """
    numbers = set()
    while len(numbers) < size:
        a = np.random.randint(low, high)
        numbers.add(a)
    numbers_arr = np.array(list(numbers))
    np.random.shuffle(numbers_arr)
    return numbers_arr

In [41]:
# generate data
record_cnt = 10
countries = [convert_number_to_alphabet(x) for x in distinct_random_int(low=0, high=26**2, size=record_cnt)]
populations = np.random.randint(low=1, high=101, size=record_cnt)

data_dict = {'country': countries, 'population': populations}
data = pd.DataFrame(data_dict)

In [42]:
data

  country  population
0      TW           4
1      AQ          64
2      WA          28
3      YT          22
4      VC          36
5      YA          78
6      SD          53
7      EZ          36
8      XR          77
9      NO          43

In [43]:
# find the country with largest population
row = data['population'].idxmax()
print('country with largest population:', data['country'][row])

country with largest population: YA